allow cameraserver persist_file:file { read write getattr open setattr };
allow cameraserver self:process execmem;
allow cameraserver socket_device:sock_file write;
